@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


.container {
  height: 100%;
  display: flexbox;
  color: black;
  grid-gap: 3px;
  grid-template-rows: 100%;
  grid-template-columns: 2;
  font-family: 'Dancing Script', cursive;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.jolly {
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s;
}

.rouge {
  color: red;
}

.p {
  font-family: 'Dancing Script', cursive;
}

.name {
  font-family: 'Dancing Script', cursive;
  grid-row: 1;
  grid-area: n;
  text-align: center;
  text-decoration: none;
  font-size: 42px; 
  color:bisque;

}

.nav {
  margin: 0;
  grid-row: 2;
  text-align: center;
  /* background: rgb(224, 177, 90); */
  grid-area: v;
  width: 1 em;
  grid-auto-flow: column;
  
}
nav ul{
   margin: 0;
   padding: 25;
   list-style: none;
   margin-right: 0px;
   margin-left: 20px;
}

nav li{
   display: inline-block;
   margin-right: 80px;
   float: center;
   
}

.font {
  text-emphasis: none;
  font-display: italic;
  font: #7c202a;

}

/* strong {
  font-display: bold;
  font: #7c202a;

} */

.experience {
  grid-row: 3;
  grid-area: e;
  float: center;
  font-size: 54;
  text-align: center;
}

.content {
  grid-row: 4;
  grid-area: c;
  text-align: center;
  align-content: center;
}


@media screen and (max-width: 450px){
  div .container {
      grid: none;
      margin: 0;
      width: 700px;
  }

 .body {
      padding: 0;
      width: 600px;
  }
  
}